[Unit]
Description=A movie api with gin
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/home/works/node/movie/v2rss.pid
ExecStart=/home/works/node/movie/startgo.sh
ExecStop=/bin/kill -s HUP $MAINPID
ExecReload=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target