[Unit]
Description=A movie api with gin
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/home/works/node/movie -p 5002
ExecStop=/bin/kill -s HUP $MAINPID
ExecReload=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target